<h1>Genres</h1>
<ul class="list-group">
  <% @genres.each do |genre|%>
    <li class="list-group-item list-group-item-success"><%=genre.name%> <%= link_to 'Show', genre_path(genre) %></li>
  <% end %>
</ul>
