<header>
  <div class="topnav">
    <a class="active" href="/welcome">Home</a>
    <a href="/about">About</a>
    <a href="/search">Search</a>
    <a href="/collection">Collection</a>
  </div>

  <form action="/result" method="get">
    <label>Search:</label>
    <input type="text" id="keyword" name="keyword" />
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li>Genre <input type="checkbox" id="genre" name="genre"></li>
        <li>Artist <input type="checkbox" id="artist" name="artist"></li>
        <li>Album <input type="checkbox" id="album" name="album"></li>
        <li>Song <input type="checkbox" id="song" name="song"></li>
      </ul>
    </div>
    <input name="commit" type="submit" value="Search" />
  </form>
</header>
<h1><%=@genre.name%></h1>
<ul>
  <% @artists.each do |artist|%>
    <li><%= artist.name %>
    <%= link_to 'Show', artist_path(artist) %></li>
  <% end %>
</ul>