<h1><%=@genre.name%></h1>
<div class="list-group">
  <% @artists.each do |artist|%>
    <li class="list-group-item list-group-item-success"><%= artist.name %>
    <%= link_to 'Show', artist_path(artist) %></li>
  <% end %>
</div>