<h1>Artists</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Arist</th>
      <th scope="col">Popularity</th>
      <th scope="col">Link</th>
    </tr>
  </thead>
  <tbody>
  <% @artists.each do |artist|%>
  <tr>
    <td><%= artist.name %></td>
    <td><%= artist.popularity %></td>
    <td><%= link_to 'Show', artist_path(artist) %></td>
  <% end %>
  </tbody>
</table>