<h1>Welcome#about</h1>
<p>Find me in app/views/welcome/about.html.erb</p>
<h3>About Us</h3>
<p>I plan on using the Spotify API along with the Faker gem.
This API contains a lot of things. Songs, artists, genres, are their properties such as their names, release date, discription and more.
To start I will be using four tables, songs, artists, albums and genres.
 I want to use the FakerGem with the spotify api so I don't exceed my limit on the api.
 If I have extra time I will be using the songkick API to get times of concerts for artists.
 These datasets go hand in hand because the songkick api offers data relating to artists and their concerts which is somthing spotify doesn't have.
 The faker gem goes in hand with the other two datasets becuase it fills the test data which is esstential since these two datasets can have issues with overuse/little volume.
 Tables and columns I would need to create goes as follows in the ERD.
</p>