<h1>About</h1>
<p>I plan on using the Faker gem along with the spotify API if I have extra time.
The Spotify API contains a lot of things. Songs, artists, genres, are their properties such as their names, release date, discription and href link for more info.
To start I will be using four tables, songs, artists, albums and genres.
 I want to use the FakerGem with the spotify api so I don't exceed my limit on the Spotify api.
 If I have extra time I will be using the songkick API to get times of concerts for artists.
 These datasets go hand in hand because the songkick api offers data relating to artists and their concerts which is somthing spotify doesn't have.
 The faker gem goes in hand with the other two datasets becuase it fills the test data which is esstential since these two datasets can have issues with overuse/little volume.
 Tables and columns I would need to create goes as follows in the ERD.
</p>
<img src="/assets/IntroToRailsWithBackground.png" alt="ERD Picture" height="450" width="450" />