<header>
<div class="topnav">
  <a class="active" href="/welcome">Home</a>
  <a href="/search">Search</a>
  <a href="/about">About</a>
  <a href="/artists/new">Add a Artist</a>
</div>

<form action="/result" method="get">
<label>Search:</label>
<input type="text" id="keyword" name="keyword" />
<input name="commit" type="submit" value="Search" />
</form>
</header>
<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
