<header>
<div class="topnav">
  <a class="active" href="/welcome">Home</a>
  <a href="/search">Search</a>
  <a href="/about">About</a>
</div>
</header>
<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
