<header>
  <div class="topnav">
    <a class="active" href="/welcome">Home</a>
    <a href="/about">About</a>
    <a href="#">Search</a>
    <a href="/collection">Collection</a>
  </div>

  <form action="/result" method="get">
    <label>Search:</label>
    <input type="text" id="keyword" name="keyword" />
    <input name="commit" type="submit" value="Search" />
  </form>
</header>
<h1>Select Type to Explore</h1>
<ul>
  <li><a href="/genres">Genre</a> </li>
  <li><a href="/albums">Album</a> </li>
  <li><a href="/artists">Artist</a> </li>
  <li><a href="/songs">Song</a> </li>
</ul>
