<h1>Select Type to Explore</h1>
<ul class="list-group">
  <li class="list-group-item list-group-item-success"><a href="/genres">Genre</a> </li>
  <li class="list-group-item list-group-item-success"><a href="/albums">Album</a> </li>
  <li class="list-group-item list-group-item-success"><a href="/artists">Artist</a> </li>
  <li class="list-group-item list-group-item-success"><a href="/songs">Song</a> </li>
</ul>
