<header>
<div class="topnav">
  <a class="active" href="/welcome">Home</a>
  <a href="/search">Search</a>
  <a href="/about">About</a>
</div>
</header>
<h1>Select Type to Explore</h1>
<ul>
  <li><a href="/genres">Genre</a> </li>
  <li><a href="/albums">Album</a> </li>
  <li><a href="/artists">Artist</a> </li>
  <li><a href="/songs">Song</a> </li>
</ul>
