<header>
  <div class="topnav">
    <a class="active" href="/welcome">Home</a>
    <a href="/about">About</a>
    <a href="/search">Search</a>
    <a href="/collection">Collection</a>
  </div>

  <form action="/result" method="get">
    <label>Search:</label>
    <input type="text" id="keyword" name="keyword" />
    <input name="commit" type="submit" value="Search" />
  </form>
</header>
<h1>Songs#index</h1>
<p>Find me in app/views/songs/index.html.erb</p>

<ul>
  <% @songs.each do |song|%>
    <li><%= song.name %>
    <%= link_to 'Show', song_path(song) %></li>
  <% end %>
</ul>
