<h1>Songs</h1>
<ul class="list-group">
  <% @songs.each do |song|%>
    <li class="list-group-item list-group-item-success"><%= song.name %>
    <%= link_to 'Show', song_path(song) %></li>
  <% end %>
</ul>
