<h1>Albums</h1>
<table class="table table-striped">
<thead>
    <tr>
      <th scope="col">Album</th>
      <th scope="col">Artist</th>
      <th scope="col">Link</th>
    </tr>
  </thead>
<tbody>
  <% @albums.each do |album|%>
  <tr>
    <td><%= album.name %></td>
    <td><%= album.artist.name %></td>
    <td><%= link_to 'Show', album_path(album) %></td>
  </tr>
  <% end %>
  </tbody>
</table>